$PREFIX: 'tk';

$--tk-color-white: #ffffff;
$--tk-color-black: #000000;
$--tk-color-primary-rgb: 64, 158, 255;
$--tk-color-success-rgb: 103, 194, 58;
$--tk-color-warning-rgb: 230, 162, 60;
$--tk-color-danger-rgb: 245, 108, 108;
$--tk-color-error-rgb: 245, 108, 108;
$--tk-color-info-rgb: 144, 147, 153;
$--tk-font-weight-base: 400;
$--tk-font-size-extra-large: 20px;
$--tk-font-size-large: 18px;
$--tk-font-size-medium: 16px;
$--tk-font-size-base: 14px;
$--tk-font-size-small: 13px;
$--tk-button-size-small: 24px;
$--tk-button-size-middle: 32px;
$--tk-button-size-large: 40px;
$--tk-font-size-extra-small: 12px;
$--tk-font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1", Arial, sans-serif;
$--tk-font-weight-primary: 500;
$--tk-font-line-height-primary: 24px;
$--tk-index-normal: 1;
$--tk-index-top: 1000;
$--tk-index-popper: 2000;
$--tk-border-radius-base: 4px;
$--tk-border-radius-small: 2px;
$--tk-border-radius-round: 20px;
$--tk-border-radius-circle: 100%;
$--tk-transition-duration: .3s;
$--tk-transition-duration-fast: .2s;
$--tk-transition-function-ease-in-out-bezier: cubic-bezier(.645, .045, .355, 1);
$--tk-transition-function-fast-bezier: cubic-bezier(.23, 1, .32, 1);
$--tk-transition-all: all var(--tk-transition-duration) var(--tk-transition-function-ease-in-out-bezier);
$--tk-transition-fade: opacity var(--tk-transition-duration) var(--tk-transition-function-fast-bezier);
$--tk-transition-md-fade: transform var(--tk-transition-duration) var(--tk-transition-function-fast-bezier), opacity var(--tk-transition-duration) var(--tk-transition-function-fast-bezier);
$--tk-transition-fade-linear: opacity var(--tk-transition-duration-fast) linear;
$--tk-transition-border: border-color var(--tk-transition-duration-fast) var(--tk-transition-function-ease-in-out-bezier);
$--tk-transition-box-shadow: box-shadow var(--tk-transition-duration-fast) var(--tk-transition-function-ease-in-out-bezier);
$--tk-transition-color: color var(--tk-transition-duration-fast) var(--tk-transition-function-ease-in-out-bezier);
$--tk-component-size-large: 40px;
$--tk-component-size: 32px;
$--tk-component-size-small: 24px;
$--tk-backdrop-filter-default: 12px;
$--tk-color-white: #ffffff;
$--tk-color-black: #000000;
$--tk-color-primary: #409eff;
$--tk-color-primary-light-3: #79bbff;
$--tk-color-primary-light-5: #a0cfff;
$--tk-color-primary-light-7: #c6e2ff;
$--tk-color-primary-light-8: #d9ecff;
$--tk-color-primary-light-9: #ecf5ff;
$--tk-color-primary-dark-2: #337ecc;
$--tk-color-success: #67c23a;
$--tk-color-success-light-3: #95d475;
$--tk-color-success-light-5: #b3e19d;
$--tk-color-success-light-7: #d1edc4;
$--tk-color-success-light-8: #e1f3d8;
$--tk-color-success-light-9: #f0f9eb;
$--tk-color-success-dark-2: #529b2e;
$--tk-color-warning: #e6a23c;
$--tk-color-warning-light-3: #eebe77;
$--tk-color-warning-light-5: #f3d19e;
$--tk-color-warning-light-7: #f8e3c5;
$--tk-color-warning-light-8: #faecd8;
$--tk-color-warning-light-9: #fdf6ec;
$--tk-color-warning-dark-2: #b88230;
$--tk-color-danger: #f56c6c;
$--tk-color-danger-light-3: #f89898;
$--tk-color-danger-light-5: #fab6b6;
$--tk-color-danger-light-7: #fcd3d3;
$--tk-color-danger-light-8: #fde2e2;
$--tk-color-danger-light-9: #fef0f0;
$--tk-color-danger-dark-2: #c45656;
$--tk-color-error: #f56c6c;
$--tk-color-error-light-3: #f89898;
$--tk-color-error-light-5: #fab6b6;
$--tk-color-error-light-7: #fcd3d3;
$--tk-color-error-light-8: #fde2e2;
$--tk-color-error-light-9: #fef0f0;
$--tk-color-error-dark-2: #c45656;
$--tk-color-info: #909399;
$--tk-color-info-light-3: #b1b3b8;
$--tk-color-info-light-5: #c8c9cc;
$--tk-color-info-light-7: #dedfe0;
$--tk-color-info-light-8: #e9e9eb;
$--tk-color-info-light-9: #f4f4f5;
$--tk-color-info-dark-2: #73767a;
$--tk-bg-color: #ffffff;
$--tk-bg-color-page: #f2f3f5;
$--tk-bg-color-overlay: #ffffff;
$--tk-text-color-primary: #303133;
$--tk-text-color-regular: #606266;
$--tk-text-color-secondary: #909399;
$--tk-text-color-placeholder: #a8abb2;
$--tk-text-color-disabled: #c0c4cc;
$--tk-border-color: #dcdfe6;
$--tk-border-color-light: #e4e7ed;
$--tk-border-color-lighter: #ebeef5;
$--tk-border-color-extra-light: #f2f6fc;
$--tk-border-color-dark: #d4d7de;
$--tk-border-color-darker: #cdd0d6;
$--tk-fill-color: #f0f2f5;
$--tk-fill-color-light: #f5f7fa;
$--tk-fill-color-lighter: #fafafa;
$--tk-fill-color-extra-light: #fafcff;
$--tk-fill-color-dark: #ebedf0;
$--tk-fill-color-darker: #e6e8eb;
$--tk-fill-color-blank: #ffffff;
$--tk-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, .04), 0px 8px 20px rgba(0, 0, 0, .08);
$--tk-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, .12);
$--tk-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, .12);
$--tk-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, .08), 0px 12px 32px rgba(0, 0, 0, .12), 0px 8px 16px -8px rgba(0, 0, 0, .16);
$--tk-disabled-bg-color: var(--tk-fill-color-light);
$--tk-disabled-text-color: var(--tk-text-color-placeholder);
$--tk-disabled-border-color: var(--tk-border-color-light);
$--tk-overlay-color: rgba(0, 0, 0, .8);
$--tk-overlay-color-light: rgba(0, 0, 0, .7);
$--tk-overlay-color-lighter: rgba(0, 0, 0, .5);
$--tk-mask-color: rgba(255, 255, 255, .9);
$--tk-mask-color-extra-light: rgba(255, 255, 255, .3);
$--tk-border-width: 1px;
$--tk-border-style: solid;
$--tk-border-color-hover: var(--tk-text-color-disabled);
$--tk-border: var(--tk-border-width) var(--tk-border-style) var(--tk-border-color);
$--tk-svg-monochrome-grey: var(--tk-border-color);

$--tk-loading-border-width: 2px;
$--tk-loading-border-style: $--tk-border-style;
$--tk-loading-primary-color: $--tk-color-white;
$--tk-loading-other-color: transparent;